
  {% extends 'base.html' %}
  {% block content %}
  <!-- container -->
  <div class="container">
      <!--질문 py: 상하패딩!-->
      <h2 class="border-bottom py-2">{{question.subject}}</h2>

      <div class="card my-3">
          <!-- pre-line
                연속 공백을 하나로 합침. 줄바꿈은 개행 문자와 <br> 요소에서 일어나며,
                한 줄이 너무 길어서 넘칠 경우 자동으로 줄을 바꿉니다.
          -->
          <div class="card-text" style="white-space pre-line;">{{question.content}}</div>
          <div class="d-flex justify-content-end">
              <div class="badge bg-light text-dark p-2">
                  {{question.create_date}}
              </div>
          </div>
      </div>
      <!--질문 end-------------------------------------->

      <!--답변 -->
      <h5 class="border-bottom py-2 my-3">{{question.answer_set.count}} 개의 답변이 있습니다.</h5>
      {% for answer in question.answer_set.all %}
      <div class="card my-3">
          <!-- pre-line
                연속 공백을 하나로 합침. 줄바꿈은 개행 문자와 <br> 요소에서 일어나며,
                한 줄이 너무 길어서 넘칠 경우 자동으로 줄을 바꿉니다.
          -->
          <div class="card-text" style="white-space pre-line;">{{answer.content}}</div>
          <!-- d-flex : bootstrap flexbox -->
          <div class="d-flex justify-content-end">
              <div class="badge bg-light text-dark p-2">
                  {{answer.create_date}}
              </div>
          </div>
      </div>
      {% endfor %}
      <!--답변 end ------------------------------------->

      <!--답변 등록-->
      <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3" name="answer_frm">
        {% csrf_token %}
        <!-- form validation기능 -->
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
              {% for field in form %}
                {% if field.errors %}
                   <div><strong>{{ field.label }}</strong></div>
                   {{ field.errors }}
                {% endif %}
              {% endfor %}
          </div>
        {% endif %}
        <!-- form validation기능 end -->
          <div class="mb-3">
            <label for="content" class="col-form-label">내용</label>
            <textarea rows="10"  class="form-control" name="content" id="content"></textarea>
          </div>
          <!--<input type="button" value="답변등록" class="btn btn-primary btn-sm" onclick="javascript:doSave();">-->
          <input type="submit" value="답변등록" class="btn btn-primary btn-sm">
      </form>
      <!--답변 등록 end---------------------------------->
    <script>
        function doSave(){
            <!--console.log('doSave');-->
            let frm =document.answer_frm;
            let content = frm.content.value;
            console.log('content'+content);
            if(isEmpty(content) == true){
                alert('내용을 입력 하세요');
                frm.content.focus();
                return ;
            }

            //서버로 전송
            frm.submit();
        }

    </script>
  </div>
  <!-- container end----------------------------------->
  {% endblock%}