<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %} <!--css, js, images 로링 최상단에 위치!  -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!--Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <title>질문 답변</title>
</head>
<body>
  <!--질문 -->
  <!--
     pre-line
     연속 공백을 하나로 합침. 줄바꿈은 개행 문자와 <br> 요소에서 일어나며,
     한 줄이 너무 길어서 넘칠 경우 자동으로 줄을 바꿉니다.
  -->
<div class="container">
    <!--질문 -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3" >
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">{{question.content}}</div>
          <div class="d-flex justify-content-end">
              <div class="badge bg-light text-dark p-2">
                {{question.create_date }}
              </div>
          </div>
      </div>
    </div>

  <!--등록된 답변 출력 -->
  <h5 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ answer.create_date }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


  <form action="{% url 'pybo:answer_create' question.id %}" method="post">
      {% csrf_token %}
      <textarea name="content" id="content" rows="15"></textarea>
      <input type="submit" value="답변등록">
  </form>
</div>
</body>
</html>