    {% extends 'base.html' %}
    {% block content %}
    <!-- container-->
    <div class="container">
        <!-- 제목 -->
        <div class="text-start mb-5">
            <h2 class="border-bottom py-2">질문등록</h2>
        </div>
        <!-- 제목 end-->

        <!-- button -->
        <div class="d-grid gap-2 mb-1 d-md-flex justify-content-end">
            <input type="button" class="btn btn-primary btn-sm" value="목록">
            <input type="button" class="btn btn-primary btn-sm" value="등록">
        </div>
        <!-- button end -->

        <!-- 등록 form -->
        <form action="#">
          <div class="mb-3 row">
            <label for="subject" class="col-sm-2 col-md-2 col-lg-2 col-form-label">제목</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="text" class="form-control" id="subject" name="subject" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="reg_id" class="col-sm-2 col-md-2 col-lg-2 col-form-label">등록자</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="text" readonly class="form-control-plaintext" id="reg_id" name="reg_id" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="content" class="col-sm-2 col-md-2 col-lg-2 col-form-label">내용</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <textarea rows="10" cols="20" class="form-control" name="content" id="content"></textarea>
            </div>
          </div>

        </form>
        <!-- 등록 form end -->

    </div>
    <!-- container end-->
    {% endblock %}