{% extends 'base.html' %}
{% block content %}
    <!-- container-->
    <div class="container">
        <!-- 제목 -->
        <div class="text-start mb-5">
            <h2 class="border-bottom py-2">로그인</h2>
        </div>
        <!-- 제목 end-->
        <!-- 등록 form -->
        <form action="{% url 'common:login' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}"> <!-- 로그인 성공시 이동할 다음 URL -->
          <!--form validation -->
          {% include "form_errors.html" %}
          <div class="mb-3 row">
            <label for="username" class="col-form-label">사용자ID</label>
            <div>
              <input type="text" class="form-control" id="username" name="username"
              value="{{ form.username.value|default_if_none:'' }}" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-form-label">비밀번호</label>
            <div class="">
              <input type="password" class="form-control" id="password" name="password"
              value="{{ form.password.value|default_if_none:'' }}" >
            </div>
          </div>
          <div class="d-grid gap-2 mb-1 d-md-flex justify-content-start">
            <input type="submit" class="btn btn-primary btn-sm" value="로그인">
          </div>
        </form>
        <!-- 등록 form end -->
    </div>
    <!-- container end-->
{% endblock %}