{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!--Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">


    <script src="{% static 'common.js' %}"></script>
    <title>Pybo</title>
</head>
<body>
  <!--네비게이션바  -->
  {% include 'navbar.html' %}
  <!--네비게이션바  end-->
  <!--기본 템플릿 안에 삽입될 내용  -->
  {% block content %}
  {% endblock %}
  <!--기본 템플릿 안에 삽입될 내용 end  ---------------------------------->
  <script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>